

@model AddIngredientViewModel

<div class="card">
    <div class="card-header text-center"><h4>Ingredienser</h4></div>
    <div class="card-body">
        <div id="ingredients">
            <ul>
                @if (Model?.Ingredients != null)
                {
                    foreach (var ingredient in Model.Ingredients.OrderBy(i => i.ProduktId))
                    {
                        <li>
                            @ingredient.ProduktNamn

                            <div class="text-right">
                                <a asp-action="RemoveIngredient"
                                   asp-controller="Dish"
                                   asp-route-id="@ingredient.ProduktId"
                                   data-ajax="true"
                                   data-ajax-method="get"
                                   data-ajax-mode="replace"
                                   data-ajax-update="#ingredients-list"
                                   class="btn btn-sm btn-danger minor-btn">-</a>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="card-footer">
        <form asp-controller="Dish" asp-action="AddIngredient" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#ingredients-list">
            <div class="form-group">
                <label asp-for="NewIngredient"></label>
                <input asp-for="NewIngredient" type="text" class="form-control" maxlength="50" />
                <small><span asp-validation-for="NewIngredient"></span></small>
            </div>
            <div class="form-group">
                <label asp-for="SelectedIngredient"></label>
                <select asp-for="SelectedIngredient" class="form-control" asp-items="@(new SelectList(Model.IngredientsList, "ProduktNamn", "ProduktNamn", null))">
                </select>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Bekräfta</button>
        </form>
    </div>

</div>