body, html {
    min-height: 100%;
    font-family: "EB Garamond", Arial, sans-serif;
    line-height: 1.5em;
    font-size: 17px;
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", Arial, sans-serif;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.card, btn, .form-control {
    border-radius: 0;
}

#main-content {
    padding-top: 55px;
}

#menu-navigate {
    background: rgba(0, 0, 0, 0.3);
}

.btn-menu {
    color: silver;
}

.btn-menu:hover {
    color: #dadada;
}

/* SITE NAVIGATION */
.navbar-dark .navbar-nav .nav-link {
    color: silver;
}

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #dadada;
    }

/* FOOD MENU SECTION */
#foodmenu small {
    font-style: italic;
}

#foodmenu h4 {
    text-shadow: 1px #000;
}

.price-text {
    font-size: 11px;
    font-weight: bold;
}

/* SITE MAIN HEADER */
#site-header {
    background: url(../img/image.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.header-text {
    font-size: 115px;
    color: antiquewhite;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px black;
}

.secondary-header {
    font-size: 50px;
    color: antiquewhite;
    text-shadow: 2px 2px black;
}

/* ABOUT SECTION */
#about i {
    font-size: 50px;
    color: #2C344E;
}


/* MAIN FOOTER SECTION */
#main-footer {
    background: #343A40;
    color: #fff;
    width: 100%;
}

    #main-footer hr {
        width: 50%;
        margin: .4em auto;
        border-top: 1px solid rgba(204, 204, 204, .5);
    }

    #main-footer p {
        font-size: 15px;
        padding: 0;
        margin: 0;
        letter-spacing: .2em;
    }

.footer-copyright {
    background: #1B2127;
    font-size: 12px;
}


/* USER REGISTRATION FORM AND GENERAL VALIDATION LOOKS */
#registryForm span {
    font-size: 12px;
    color: crimson;
}

.field-validation-error {
    color: #f00;
}

.field-valdation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    font-weight: bold;
    color: crimson;
}


.dotted-red {
    color: crimson;
    font-size: 17px;
}

.scrollable {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    text-align: center;
}

    .scrollable::-webkit-scrollbar {
        background: transparent;
    }

/* CHECKOUT */
#checkout {
    min-height: 400px;
}

/* ADMIN PAGE */
#admin-links li {
    display: inline-block;
    list-style: none;
    padding: 0;
}

#admin-links {
    margin: 0;
    padding: 0;
}

.fill-all {
    min-height: 300px;
}

#cartList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    #cartList ul li {
        justify-content: space-between;
        display: flex;
        padding: 3px;
    }

.modal-open {
    padding-right: 0 !important;
}

.minor-btn {
    padding: 0 10px 0 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ingredients-list li {
    justify-content: space-between;
    display: flex;
    padding: 3px;
}

#confirmmsg {
    color: green;
}


.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.btn-circle {
    width: 90px;
    height: 90px;
    border-radius: 60px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: background .4s ease-in-out;
    -moz-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out;
}

.btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}