@model Bestallning

<td id="@Model.BestallningId" style="padding: 0; border-top: none;">
    @if (Model.Levererad)
    {
        <h4><span class="badge badge-success">&#x2713; Levererad</span></h4>
    }
    else
    {
        <h4><span class="badge badge-warning">&#x2717; Ej levererad</span></h4>
    }
</td>
