
@model Bestallning

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">OrderID: @Model.BestallningId</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <h2>Maträtter</h2>
    @foreach (var order in Model.BestallningMatratt)
    {
        <h5>
            @order.Antal st @order.Matratt.MatrattNamn
        </h5>
    }
    <h6>Totalt pris: @Model.Totalbelopp.ToString("C")</h6>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>