@using Microsoft.AspNetCore.Identity
@model List<AppUser>
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Admin Page";
}

<script src="/js/customers.js" defer></script>*



<div class="container-fluid mt-5">
    <div class="row mt-3">
        <nav class="col-sm-12 text-center">
            <h1>Admin Dashboard</h1>

            <ul id="admin-links">
                <li>
                    <a class="nav-link" href="#">Kunder</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Ordrar</a>
                </li>
                <li>
                    <a class="nav-link" href="#">Maträtter</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="container fill-all mt-3">
    <table class="table table-hover table-sm table-striped" style="width:100%" id="customertable">
        <thead>
            <tr>
                <th scope="col">Användarnamn</th>
                <th scope="col">Email</th>
                <th scope="col">Roll</th>
                <th scope="col">Ändra</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        @foreach (var role in await UserManager.GetRolesAsync(await UserManager.FindByIdAsync(user.Id)))
                        {
                            @role
                        }
                    </td>
                    <td>
                        <form asp-action="UpdateUser" asp-route-id="@user.Id" method="POST">
                            <input type="hidden" value="@user.Id" />
                            <button type="submit" class="btn btn-sm btn-primary change-role">Ändra roll</button>
                        </form> <!-- TODO Behövs Delete? -->
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



