@model IEnumerable<AppUser>

@{
    ViewData["Title"] = "Admin Page";
}




<div class="container-fluid mt-5">
    
    <h1 class="text-center">Admin Dashboard</h1>
    

    <table class="table table-hover table-sm mt-3">
        <thead>
        <tr>
            <th scope="col">Användarnamn</th>
            <th scope="col">Email</th>
            <th scope="col">Roll</th>
            <th scope="col">Ändra</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>TODO ROLE</td>
                <td>
                    <form asp-action="UpdateUser" asp-route-id="@user.Id" method="POST">
                        <button type="submit" class="btn btn-sm btn-primary">Ändra roll</button>
                    </form> <!-- TODO Behövs Delete? -->
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


