@model List<Matratt>

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<p>Presentera maträtter här med quantity och köp knapp.</p>

<p>Använta en viewmodel med CartItem där listan av maträtter + kundens items sparas?</p>