@model FoodMenu

@{
    ViewData["Title"] = "Order";
}


<div class="container-fluid mt-5">

    <h1 class="text-center mb-5">Skapa en beställning</h1>


    <div class="row">
        <section id="orderContent">
            <div class="col-6">
                <div class="row">
                    @foreach (var dish in Model.PizzaDishes)
                    {
                        <div class="col-12">
                            <partial name="_OrderDishCardPartial" model="@dish" />
                        </div>
                    }
                </div>

                <div class="row">
                    @foreach (var dish in Model.PastaDishes)
                    {
                        <div class="col-12">
                            <partial name="_OrderDishCardPartial" model="@dish" />
                        </div>
                    }
                </div>
                <div class="row">
                    @foreach (var dish in Model.SaladDishes)
                    {
                        <div class="col-12">
                            <partial name="_OrderDishCardPartial" model="@dish" />
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>

</div>