@model FoodMenu

@{
    ViewData["Title"] = "Products";
}

<script src="/js/order.js" defer></script>

<div class="container-fluid mt-5">

    <h1 class="text-center">Skapa en beställning</h1>
    <h5 class="text-center">Ingår dricka</h5>


    <div class="row mt-5">
        <div class="col-6 scrollable">

            <h4 class="text-center p-2"><span class="dotted-red">• • •</span> Pizzor <span class="dotted-red">• • •</span></h4>
            <div class="row">
                @foreach (var dish in Model.PizzaDishes)
                {
                    <div class="col-12">
                        <partial name="_OrderDishCardPartial" model="@dish" />
                    </div>
                }
            </div>

            <h4 class="text-center p-2 mt-3"><span class="dotted-red">• • •</span> Pasta <span class="dotted-red">• • •</span></h4>
            <div class="row">
                @foreach (var dish in Model.PastaDishes)
                {
                    <div class="col-12">
                        <partial name="_OrderDishCardPartial" model="@dish" />
                    </div>
                }
            </div>

            <h4 class="text-center p-2 mt-3"><span class="dotted-red">• • •</span> Sallad <span class="dotted-red">• • •</span></h4>
            <div class="row">
                @foreach (var dish in Model.SaladDishes)
                {
                    <div class="col-12">
                        <partial name="_OrderDishCardPartial" model="@dish" />
                    </div>
                }
            </div>
        </div>

        <div class="col-6">
            <h4 class="text-center p-2"><span class="dotted-red">• • •</span> Din beställning <span class="dotted-red">• • •</span></h4>

            <div class="card">
                <div class="card-body">
                    <ul id="cartList">
                        
                    </ul>
                    <hr class="sm-light"/>
                    <p class="card-text">
                        Summa:
                    </p>
                    <div class="text-center">
                        <a class="btn btn-primary p-2 mt-2" href="#">Beställ</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
