@model KundEditDetailsViewModel
@{
    ViewData["Title"] = "User Manager";
}


<div class="container-fluid h-100 mt-2 fill-all mt-5">

    <header class="text-center">
        <h1>Redigera dina användaruppgifter</h1>
    </header>
    <div class="row mt-5">
        <div class="col-sm-12 col-md-offset-4 col-lg-offset-4 col-md-8 col-lg-8 mx-auto mb-5" id="details-form">
            <partial name="_EditDetailsForm" model="@Model" />
        </div>
    </div>
</div>


