@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    if (User.IsInRole(UserRole.Admin.ToString()))
    {
        <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="AdminPage">Admin</a></li>
    }

    if (User.IsInRole(UserRole.Admin.ToString()))
    {
        <li class="nav-item"><a class="nav-link" asp-controller="Admin" asp-action="EditDetails"><i class="fas fa-user-alt"></i> Mina sidor</a></li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link" asp-controller="Order" asp-action="Products"><i class="fas fa-shopping-cart"></i> Beställning</a></li>

        <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="EditDetails" asp-route-username="@User.Identity.Name"><i class="fas fa-user-alt"></i> Mina sidor</a></li>
    }

    <li class="nav-item"><a class="nav-link" asp-controller="User" asp-action="LogOut"><i class="fas fa-sign-out-alt"></i> Logga ut</a></li>


}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="Register">Registera dig</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="User" asp-action="Login"><i class="fas fa-sign-in-alt"></i> Logga in</a>
    </li>
}
