


<section id="about">

    <header class="row text-uppercase text-center mt-5">
        <div class="col-12">
            <h1>Om oss</h1>
        </div>
    </header>

    <div class="row text-center mt-3">

        <div class="col-12 col-md-4 col-lg-4">
            <i class="material-icons">local_pizza</i>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque mollis euismod dolor, sed finibus nisi aliquam non.
                Nulla vel nulla vel metus sodales imperdiet vel interdum ipsum.
                Donec varius leo sollicitudin risus dignissim, sed auctor erat gravida.
            </p>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <i class="material-icons">fastfood</i>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque mollis euismod dolor, sed finibus nisi aliquam non.
                Nulla vel nulla vel metus sodales imperdiet vel interdum ipsum.
                Donec varius leo sollicitudin risus dignissim, sed auctor erat gravida.
            </p>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <i class="material-icons">local_drink</i>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Pellentesque mollis euismod dolor, sed finibus nisi aliquam non.
                Nulla vel nulla vel metus sodales imperdiet vel interdum ipsum.
                Donec varius leo sollicitudin risus dignissim, sed auctor erat gravida.
            </p>
        </div>
    </div>
</section>