@model CheckOutViewModel

@{
    ViewData["Title"] = "CheckOutPage";
}


<div class="container-fluid fill-all mt-5">
    <h1>CheckOutPage</h1>

    <!-- Form for checkout, load user points etc.
    Use points for free pizza, checkout button -->

</div>

<!-- Form to show Points, Cart, Total Price, För & Efternamn
use points? Radio button.
    submit btn
-->